<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - Admin Dashboard</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <link href="~/css/admin-site.css" rel="stylesheet" />
    @RenderSection("SelectedCss", required: false)
</head>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <a class="navbar-brand" href="/Admin" style="text-align:center">            
                        <span class="logo-text">
                            <img src="~/assets/images/logo-text.png" alt="homepage" class="light-logo" style="max-width:20%" />
                        </span>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>

                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                    </ul>    
                    
                    <ul class="navbar-nav float-right">            
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <div class="dropdown-divider"></div>
                                <form method="post" asp-area="Identity" asp-page="/Account/Logout">
                                    <button type="submit" class="dropdown-item"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin" aria-expanded="false">
                                <i class="mdi mdi-view-dashboard"></i>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="mdi mdi-account-multiple"></i>
                                <span class="hide-menu">User Management</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item"><a href="/Admin/Users" class="sidebar-link"><i class="mdi mdi-account-box"></i><span class="hide-menu"> All Users</span></a></li>
                                <li class="sidebar-item"><a href="/Admin/Roles" class="sidebar-link"><i class="mdi mdi-account-key"></i><span class="hide-menu"> Roles</span></a></li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="mdi mdi-settings"></i>
                                <span class="hide-menu">Settings</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item"><a href="/Admin/Settings" class="sidebar-link"><i class="mdi mdi-settings-outline"></i><span class="hide-menu"> General Settings</span></a></li>
                                <li class="sidebar-item"><a href="/Admin/Configuration" class="sidebar-link"><i class="mdi mdi-cog-outline"></i><span class="hide-menu"> Configuration</span></a></li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="mdi mdi-chart-line"></i>
                                <span class="hide-menu">Reports</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item"><a href="/Admin/Reports/Activity" class="sidebar-link"><i class="mdi mdi-chart-bar"></i><span class="hide-menu"> Activity Reports</span></a></li>
                                <li class="sidebar-item"><a href="/Admin/Reports/Analytics" class="sidebar-link"><i class="mdi mdi-chart-areaspline"></i><span class="hide-menu"> Analytics</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            @RenderBody()
            <footer class="footer text-center">
                Admin Dashboard Template by <a href="#">Your Company</a>.
            </footer>
        </div>
    </div>
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/dist/js/waves.js"></script>
    <script src="~/dist/js/sidebarmenu.js"></script>
    <script src="~/dist/js/custom.min.js"></script>
    <script src="~/lib/mustache.js/mustache.js"></script>
    <script src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>
    <script src="~/assets/libs/toastr/build/toastr.min.js"></script>
    <script src="~/lib/jquery.blockUI/jquery.blockUI.js"></script>
    <script src="~/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/dist/js/pages/mask/mask.init.js"></script>
    <script src="~/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="~/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
    <script src="~/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
    <script src="~/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
    <script src="~/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
    <script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/app/shared/common.js"></script>
    <script src="~/js/admin-site.js"></script>
    <script>
        $(".select2").select2();
        jQuery('.mydatepicker').datepicker();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
